<!-- Services Section -->
<section id="services" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>{{ 'application.services.title' | translate }}</h2>
        <p>{{ 'application.services.description' | translate }}</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-5">

            <div class="content col-xl-5 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
                <h3>{{ 'application.services.subtitle' | translate }}</h3>
                <p>
                    {{ 'application.services.content' | translate }}
                </p>
                <a href="#" class="about-btn align-self-center align-self-xl-start">
                    <span>{{ 'application.services.button' | translate }}</span>
                    <i class="bi bi-chevron-right"></i>
                </a>
            </div>

            <div class="col-xl-7" data-aos="fade-up" data-aos-delay="200">
                <div class="row gy-4">
                    <div class="col-md-6 icon-box position-relative">
                        <i class="bi bi-code-slash"></i>
                        <h4>
                            <a class="stretched-link">{{ 'application.services.cards.webdev.title' | translate }}</a>
                        </h4>
                        <p>{{ 'application.services.cards.webdev.description' | translate }}</p>
                    </div><!-- Icon-Box -->
                    <div class="col-md-6 icon-box position-relative">
                        <i class="bi bi-gear"></i>
                        <h4>
                            <a class="stretched-link">{{ 'application.services.cards.consulting.title' | translate }}</a>
                        </h4>
                        <p>{{ 'application.services.cards.consulting.description' | translate }}</p>
                    </div><!-- Icon-Box -->
                    <div class="col-md-6 icon-box position-relative">
                        <i class="bi bi-graph-up"></i>
                        <h4>
                            <a class="stretched-link">{{ 'application.services.cards.optimization.title' | translate }}</a>
                        </h4>
                        <p>{{ 'application.services.cards.optimization.description' | translate }}</p>
                    </div><!-- Icon-Box -->
                    <div class="col-md-6 icon-box position-relative">
                        <i class="bi bi-cloud"></i>
                        <h4>
                            <a class="stretched-link">{{ 'application.services.cards.cloud.title' | translate }}</a>
                        </h4>
                        <p>{{ 'application.services.cards.cloud.description' | translate }}</p>
                    </div><!-- Icon-Box -->
                </div>
            </div>

        </div>

    </div>
                    

</section>
<!-- /Services Section -->
