<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a routerLink="/public/home" class="logo d-flex align-items-center me-auto">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <img src="assets/img/logo-bacsystem.png" alt="Bacsystem Logo">
      <!-- <h1 class="site-name">Bacsystem</h1> -->
    </a>

    <nav id="nav-menu" class="nav-menu">
      <ul>
        @for (item of titles; track item.title) {
          @if (item.active) {
            <li>
              <a [name]="item.id" [routerLink]="item.routerLink"
                 [routerLinkActive]="item.routerLinkActive">{{ item.title | translate }}
              </a>
            </li>
          }
        }

      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

  </div>

  <div class="language-switcher">
    <div class="language-indicator"></div>
    <a class="language-btn" (click)="toggleLanguage()">{{ currentLanguage }}</a>
  </div>
</header>
